<div class="container">
  <footer class="footer">
  <small>
      Copyright &copy; <a href="https://mail.google.com/mail/u/0/#inbox">The complete Ruby on Rails developer course </a>
      by <a href="quratulainnasrullah@gmail.com">Quratulain Nasrullah</a>

  </small>
  <nav
    <ul>
    <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>
</div>